* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #121212;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 400px;
  background-color: #1F1B24;
  border-radius: 4px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

div ul {
  padding: 25px;
}

div li + li {
  margin-top: 25px;
}

.addButton {
  width: 400px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
  border-radius: 4px;
}
